/* Grain Template */

@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "utility";
@import "sidebar-main";
@import "sidebar-second";

[data-letters]:before {
  content:attr(data-letters);
  display:inline-block;
  font-size:1em;
  width:2.5em;
  height:2.5em;
  line-height:2.5em;
  text-align:center;
  border-radius:50%;
  background:#3074F6;
  vertical-align:middle;
  margin-right:1em;
  color:white;
}









