// Body
$body-bg: #f4f5f9;

// Links
$link-color: #3074F6;
$link-hover-color: #3074F6;

// Effects
$transition: all 0.2s ease;

// Main Sidebar
$main-sidebar-bg: #fff;

$main-sidebar-item-text-color: #D4D2DD;
$main-sidebar-item-border-color: #fff;

$main-sidebar-item-hover-text-color: #3074F6;
$main-sidebar-item-hover-border-color: #3074F6;
$main-sidebar-item-hover-bg-color: #fff;

$main-sidebar-item-filled-reverse-text-color: #fff;
$main-sidebar-item-filled-reverse-border-color: #FF2D2D;
$main-sidebar-item-filled-reverse-bg-color: #FF2D2D;

$main-sidebar-height: 75px;

$main-sidebar-logo-width: 75px;
$main-sidebar-logo-height: 75px;

$main-sidebar-item-width: 75px;
$main-sidebar-item-height: 72px;



// Second Sidebar
$second-sidebar-bg: #fff;

$second-sidebar-item-text-color: #6c757d;
$second-sidebar-item-text-color-second: #D4D2DD;
$second-sidebar-item-border-left-color: #fff;
$second-sidebar-item-border-right-color: #fff;
$second-sidebar-item-border-bottom-color: #f4f5f9;

$second-sidebar-item-hover-text-color: #3074F6;
$second-sidebar-item-hover-border-left-color: #D4D2DD;
$second-sidebar-item-hover-border-right-color: #D4D2DD;
$second-sidebar-item-hover-bg-color: #fff;

$second-sidebar-navbar-text-color: rgba(0,0,0,.5);
$second-sidebar-navbar-border-color: rgba(0,0,0,.1);

$second-sidebar-padding-bottom: 76px;


